{% extends "main/layout.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
<div id="menu">
    <h1>Добро пожаловать в классификатор!</h1>
    <br><br>
    <a href="{% url 'field' %}"><button class="btn btn-primary" style="font-size: 30px">Начать</button></a>
</div>
{% endblock content %}