{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    </head>
<body>
    <aside>
		<img src="{% static 'main/img/logo.png' %}" alt="logo">
		<span class="logo">Навигация</span>
		<ul>
			<a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i> Главная</li></a>
			<a href="{% url 'info' %}"><li><i class="fa-solid fa-address-card"></i> Про нас</li></a>
		</ul>
	</aside>
	<main>
    {% block content %}
    {% endblock content %}
	</main>
	<footer>
		
	</footer>
</body>
</html>