{% extends "main/layout.html" %}

{% block title %}Поле экспериментов{% endblock title %}

{% block content %}
<div id="field">
    {% load static %}
    {% for jet in jets %}
    {% if jet.real_class == 0 %}
    <img src="{% static 'field/img/jets/'|add:jet.file_name|add:".jpg" %}">
    <br><br>
    <button type="button" class="btn btn-success" style="font-size: 30px">Type of AI: {{jet.ai_class}} </button>
    <br><br>
    
    <form method="post">
    {% csrf_token %}
    {{form.real_class}}
    <br><br>
    <div  class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active" style="font-size: 30px">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
        </label>
        <label class="btn btn-secondary" style="font-size: 30px">
          <input type="radio" name="options" id="option2" autocomplete="off"> Radio
        </label>
        <label class="btn btn-secondary" style="font-size: 30px">
          <input type="radio" name="options" id="option3" autocomplete="off"> Radio
        </label>
      </div>
    <br><br>
    <button class="btn btn-primary" type="submit" style="font-size: 30px">Отправить</button>
    </form>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}