body {
    text-align: center;
}

aside {
	float: right;
	width: 370px;
	height: 100vh;
	padding: 20px;
	color: #000;
	border-left: 5px solid #4d4d4d;
    border-bottom: 5px solid #4d4d4d;
}

aside img {
	width: 100px;
	float: left;
}

aside .logo {
	font-size: 40px;
	margin-left: 10px;
	font-weight: bold;
	position: relative;
}

aside h3 {
	margin-top: 50px;
	font-size: 28px; 
}

aside ul {list-style: none}
aside ul li {
	color: #000;
	display: block;
	margin-top: 20px;
    font-size: 20px; 
	text-decoration: none;
	transition: transform .5s ease;
}

aside ul li:hover, aside ul a:hover{
	color: #eb5959;
	text-decoration: none;
	transform: scale(1.05);
}

main div#menu{
	padding-top: 40vh;
}

main div#field{
	padding-top: 20vh;
}

